#banner {
  margin: 20px;

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: #2b97a4;
    padding: 10px;
    border-radius: 100%;
  }
}

/* SUB-BANNER */
#subBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 100px;
  gap: 50px;
  margin: 10px auto;
  width: 95%;
}

#prescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #f6e88f;
  padding: 0px 40px;
  width: 50%;
  border-radius: 20px;
  height: 350px;

  #dropbox {
    background-color: #f1f5f9;
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px dashed #3a341c;
  }

  button {
    padding: 10px;
    outline: none;
    border: 3px solid #3a341c;
    color: #3a341c;
    background-color: white;
    border-radius: 25px;
  }

  button:hover {
    color: white;
    background-color: #3a341c;
    cursor: pointer;
  }
}

#consultCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  padding: 0px 40px;
  width: 50%;
  background-color: #fec091;
  border-radius: 20px;
  color: #260b2f;

  h4 {
    font-weight: 800;
    font-size: 30px;
  }

  p {
    font-weight: 500;
    font-size: 20px;
  }

  button {
    padding: 10px;
    outline: none;
    border: 3px solid #260b2f;
    color: #260b2f;
    background-color: white;
    border-radius: 25px;
  }

  button:hover {
    color: white;
    background-color: #260b2f;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  #subBanner {
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
  }

  #prescription {
    width: 100%;
  }

  #consultCard {
    width: 100%;
    height: auto !important;
    padding: 40px;

    p {
      display: none;
    }
  }
}

/* HERO-SECTION */
#content {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 0px 50px;
  margin: 30px auto;
  justify-content: space-between;
}

#features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 65%;

  a {
    text-decoration: none;
    color: black;
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f5f9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  i {
    font-size: 20px;
    margin-bottom: 10px;
    height: 35px;
    width: 35px;
    background-color: #2b97a4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
    outline: 8px solid #1d6871;
  }

  h3 {
    font-weight: 600;
  }
}

.feature-card:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition-duration: 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#how-to {
  background-color: #092124;
  color: white;
  padding: 30px;
  width: 30%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: #96d7de;
    font-weight: 700;
    font-size: 35px;
  }

  .step {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    align-items: center;

    p {
      margin-bottom: 0px !important;
    }

    i {
      background-color: #2b97a4;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
    }

    p {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
  #content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
  }

  #features {
    width: 100%;
    padding: 10px;
    grid-template-columns: 1fr;

    .feature-card {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 30px;
    }
    h3 {
      font-size: 20px;
    }

    p {
      display: none;
    }
  }

  #how-to {
    width: 100%;
  }
}

/* POPULAR PRODUCTS */
#popular-products {
  margin: 30px 100px;

  #popular-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
      font-weight: 700;
      font-size: 30px;
    }
  }
}

#popular-cards {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow-x: scroll;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  border: 2px solid #eee;
  border-radius: 20px;
  padding: 20px;
  height: 520px;

  .product-image {
    background-color: #f1f5f9;
    padding: 25px 0px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    height: 300px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  /* .product-image:hover {
      img {
        transform: scale(1.025);
        transition-duration: 0.2s;
      }
    } */

  .product-info-left,
  .product-info-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .product-info-right {
    text-align: right;
  }

  .product-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .product-categories {
    color: #5d5d5d;
  }

  .product-title {
    font-weight: 600;
    cursor: pointer;
  }

  /* .product-title:hover {
      text-decoration: underline;
    } */

  .product-brand {
    font-weight: 600;
    color: #5d5d5d;
  }

  .product-rating {
    display: flex;
    align-items: center;
    gap: 5px;

    .fa-star {
      color: #f1c40f;
    }
  }

  .product-price {
    font-weight: 700;
    color: #22646d;
  }

  .product-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto;
  }

  .product-footer button {
    background-color: #155b63;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
  }

  .product-footer button:hover {
    background-color: #2b97a4;
  }

  button.cart-true {
    background-color: green;
  }

  button.cart-true:hover {
    background-color: rgb(172, 255, 172);
  }
}

@media screen and (max-width: 768px) {
  #popular-products {
    margin: 10px 30px;
  }
}

/* CATEGORY SECTION */
#orderby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 30px 100px;
  padding: 50px;
  border-radius: 20px;
  border: 3px solid #2b97a4;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 30px;
  }
}

#concern,
#brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .itemCards {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 150px;
      border-radius: 100%;
    }

    img:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

@media screen and (max-width: 768px) {
  #orderby {
    margin: 20px;
    padding: 20px;
  }

  .itemCards {
    width: 100%;
    flex-direction: row;
    overflow-x: scroll;
  }
}

/* TESTIMONIES */

#testimonies {
  margin: 30px 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#testimonies h2 {
  text-align: center;
  color: #2b97a4;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}

.testimony {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.testimony-image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.testimony-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.testimony-body p {
  margin-bottom: 10px;
}

.testimony-body p:last-child {
  font-weight: bold;
  color: #2b97a4;
}

@media screen and (max-width: 768px) {
  #testimonies {
    margin: 20px;
    padding: 10px;
  }

  .testimony {
    flex-direction: column;
    align-items: flex-start;
  }

  .testimony-image img {
    display: none;
  }

  .testimony-body {
    padding: 10px;
  }
}

/* CONSULT MODAL */
#consultModalContainer {
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #closeBtn {
      background-color: transparent;
      border: none;
      outline: none;
      border-radius: 100%;
    }

    #closeBtn:hover {
      cursor: pointer;
      color: #2b97a4;
    }
  }

  .modal-footer button {
    margin: 0 auto;
    background-color: #155b63;
    color: white;
    font-weight: 600;
  }

  .modal-footer button:hover {
    background-color: #2b97a4;
  }

  form .form-group {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    margin: 10px 0px;
  }
}
