#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2b97a4;
  padding: 10px 50px;
}

#logo img {
  height: 60px;
}

#searchbar {
  display: flex;
  transform: translateX(20px);

  input {
    width: 450px;
    padding: 0px 30px;
    border: none;
    border-radius: 22px;
    font-size: 13px;
    height: 40px;
  }

  span {
    background-color: #1a1d29;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translateX(-40px);
  }

  span:hover {
    cursor: pointer;
  }
}

#right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#cart {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .fa-cart-shopping {
    margin-right: 10px;
  }

  .fa-cart-shopping:hover {
    cursor: pointer;
  }

  #amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(171, 244, 255);
  }
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  color: #165057;
  padding: 5px 10px;
  border-radius: 50%;

  a {
    color: #165057;
    text-decoration: none;
  }
}

#profile:hover {
  cursor: pointer;
  background-color: #2b97a4;
  color: white;

  a {
    color: white;
  }
}

nav {
  padding: 7px 70px !important;
  background-color: #e7f1f4 !important;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    margin: 0px auto;
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 70px;
  background-color: #e7f1f4;
}

#navbar #navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

.nav-item {
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item i {
  margin-right: 8px;
}

#consult {
  text-align: center;
  background-color: #155b63;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

#consult:hover {
  background-color: #2b97a4;
  color: white;
}

@media screen and (max-width: 768px) {
  #navbar {
    padding: 10px 20px;
  }

  #navbar #navlinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #consult {
    margin: 0px auto;
  }
}

/* Modal Styles */
.consult-modal {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  --bs-modal-width: 800px !important;
}

/* Header Styles */
.modal-header {
  border-bottom: none !important;

  .btn-close {
    background-color: #2b97a4;
  }
}

/* Body Styles */
.consult-modal .modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  border: 0px !important;
}

.consult-left {
  flex: 1;
  padding: 50px;
  text-align: center;

  font-family: "Manrope", serif;

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 36px;
    margin: 0px !important;
    font-weight: bold;
  }

  h2 {
    margin: 0px !important;
    font-size: 24px;
  }
}

.consult-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .btn-submit {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn-submit:hover:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
}

/* Form Styles */
.consult-form {
  background-color: #274968;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group {
  display: grid;
  grid-template-columns: 1.5fr 4.5fr;
  gap: 10px;
  text-align: right;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .consult-modal {
    --bs-modal-width: 100% !important;
  }

  .consult-modal .modal-body {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .consult-left,
  .consult-right {
    padding: 20px;
  }

  .consult-right {
    width: 100%;
  }

  .consult-form {
    width: 100%;
  }
}